# Data Engineering

## Purpose of this notebook

To perform data cleaning and prepare the data to a suitable format for upload to MongoDB Atlas.

## Environment Setup, data Cleaning and Data Transformation

In [1]:
import pandas
import etl_processor
import database
import bokeh
import seaborn

### Data Source

- Electricity Generation and Consumption
    - Description: This dataset is about the electricity generation and electricity consumption across different sectors and households from 1975 Jan to 2024 Mar
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M890841 
    - Data Source: SingStat Table Builder (Department of Statistics)
- Electricity Generation by Monthly data
    - Description: This dataset is about the electricity generation per month from 1975 Jan to 2024 Mar
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M890831 
    - Data Source: SingStat Table Builder (Department of Statistics)
- Peak System Demand from 2005 to Jul 2021
    - Description: This dataset is about the records of Peak System Demand in the unit of Megawatt for each month from 2005 to Jul 2021
    - Link: https://beta.data.gov.sg/datasets/d_926d3e304c0b41e56d4cbd3304acf105/view 
    - Data Source: data.gov.sg
- Solar PV Installations by URA Planning Region
    - Description: 
        - This dataset is about the Solar PV installation in different region within Singapore with data differentiating its residential status 
        - There are data columns about the number of solar pv installations, installed capacity in KWac and total installed capacity (percentage)    
    - Link: https://beta.data.gov.sg/datasets/d_cd4f91f7a1ebb2b7ceb1a70c0dbb706d/view
    - Data Source: data.gov.sg 
- Total Final Energy Consumption 2009 to 2019
    - Description: This dataset is about the energy consumption in the unit of Kilotonne of Oil equivalent across different energy type and sectors from 2009 to 2019
    - Link: https://beta.data.gov.sg/datasets/d_500440fba49cfc69f395e6dd1df967de/view 
    - Data Source: data.gov.sg
- Total Final Energy Consumption by Energy Type and Sector
    - Description: This dataset is about the energy consumption in the unit of Kilotonne of Oil equivalent across different energy type and sectors
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M891111 
    - Data Source: SingStat Table Builder (Department of Statistics Singapore)
- Licensed Local Food Farm
    - Description: This dataset is about the number of licensed food farms in Singapore with different food category
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M891471 
    - Data Source: SingStat Table Builder (Department of Statistics Singapore)
- Local Production Annual
    - Description: This dataset is about the value of Local food production annually with different categories of Food Type
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M890721 
    - Data Source: SingStat Table Builder (Department of Statistics Singapore)
- Value of Local Food Production in Singapore
    - Description: This dataset is about the value of Local Food Production in Singapore measured in million dollar for each year with different categories of food type
    - Link: https://beta.data.gov.sg/datasets/d_21ae7d83dd7ee33c8c932ba2564fd8aa/view
    - Data Source: data.gov.sg

### Data Preparation

#### Total Final Energy Consumption by Energy Type and Sector

In [2]:
total_final_energy_consumption_by_energy_type_and_sector_for_total_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_for_total()

total_final_energy_consumption_by_energy_type_and_sector_total_for_coal_and_peat_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_total_for_coal_and_peat()
total_final_energy_consumption_by_energy_type_and_sector_total_for_electricity_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_total_for_electricity()
total_final_energy_consumption_by_energy_type_and_sector_total_for_natural_gas_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_total_for_natural_gas()

In [3]:
total_final_energy_consumption_by_energy_type_and_sector_for_petroleum_products_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_for_petroleum_products()

#### Electricity Generation by Monthly data

In [6]:
electricity_generation_by_month_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_electricity_generation_monthly_data()

#### Electricity Generation and Consumption

In [7]:
electricity_generation_and_consumption_by_month_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_electricity_generation_and_consumption()

#### Total Final Energy Consumption by Energy Type and Sector from 2009 to 2019

In [8]:
total_final_energy_consumption_by_energy_type_and_sector_csv: pandas.DataFrame = etl_processor.csv_file_data_source.retrieve_data_for_total_final_energy_consumption_2009_to_2019()

#### Peak System Demand from 2005 to Jul 2021

In [10]:
peak_system_demand_dataframe: pandas.DataFrame = etl_processor.csv_file_data_source.retrieve_data_for_peak_system_demand_2005_to_jul_2021()

#### Solar PV Installations by URA Planning Region

In [11]:
solar_pv_installations_by_ura_planning_region_dataframe: pandas.DataFrame = etl_processor.csv_file_data_source.retrieve_data_for_solar_pv_installations_by_ura_planning_region()

#### Local Production Annual

In [12]:
local_food_production_annual_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_local_production_annual()

#### Licensed Local Food Farm

In [13]:
licensed_local_food_farm_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_licensed_local_food_farm()

### Data Transformation

In [14]:
# merge the total final energy consumption from data.gov.sg and the other total final energy consumption from singstat table into one dataframe
local_food_production_annual_dataframe: pandas.DataFrame = etl_processor.excel_file_data_transformer.transform_local_food_production_annual_data(local_food_production_annual_dataframe)
#remove na data for electricity generation dataframe and electricity generation and consumption dataframe

In [15]:
electricity_generation_and_consumption_monthly_dataframe: pandas.DataFrame = etl_processor.excel_file_data_transformer.transform_electricity_generation_monthly_data(electricity_generation_and_consumption_by_month_dataframe)

In [16]:
licensed_local_food_farm_dataframe: pandas.DataFrame = etl_processor.excel_file_data_transformer.transform_licensed_local_food_farm_data(licensed_local_food_farm_dataframe)

In [17]:
electricity_generation_and_consumption_by_month_dataframe = etl_processor.excel_file_data_transformer.transform_electricity_generation_and_consumption_monthly_data(electricity_generation_and_consumption_by_month_dataframe)

/workspaces/IPDS-CA2-Assignment/SG-Green-Plan-Data-Analysis/etl_processor/transform.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframe = dataframe.replace('na', value=0)

In [29]:
electricity_generation_by_month_dataframe = etl_processor.excel_file_data_transformer.transform_electricity_generation_by_month(electricity_generation_by_month_dataframe)

In [16]:
# it is also possible to embed looker studio into this jupyter notebook

# it is also possible to upload data from pandas into google sheet which looker studio will extract from

### Data Loading to MongoDB Atlas

#### Electricity Generation and Consumption By Month

In [ ]:
etl_processor.load.LoadElectricityGenerationAndConsumptionByMonth(electricity_generation_and_consumption_by_month_dataframe)

####

### Data Profiling

In [36]:
total_final_energy_consumption_by_energy_type_and_sector_for_petroleum_products_dataframe.describe()

,Data Series,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
count,6,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6,6.0,6,6.0,6.0
unique,6,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6,6.0,6,6.0,6.0
top,Petroleum Products,9009.4,8713.3,10125.1,9073.5,9149.5,9351.2,9993.4,8968.3,8475,7946.8,7614,7790.2,6474.8
freq,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,1,1.0,1.0

In [57]:
total_final_energy_consumption_by_energy_type_and_sector_for_petroleum_products_dataframe.set_index("Data Series").transpose()

Data Series,Petroleum Products,Industry-Related,Commerce And Services-Related,Transport-Related,Households,Others
2021,9009.4,6423.7,75.2,2485.5,25.1,-
2020,8713.3,6406.7,69.3,2214.3,23.1,-
2019,10125.1,7611.1,70.4,2420.2,23.5,-
2018,9073.5,6519.2,74.4,2455.1,24.8,-
2017,9149.5,6562.8,75.2,2486.5,25.1,-
2016,9351.2,6567.2,77.3,2680.9,25.8,-
2015,9993.4,7265.1,80,2621.5,26.7,-
2014,8968.3,6665.5,78.9,2199.8,24.1,-
2013,8475,6225.3,87.3,2133.3,29.1,-
2012,7946.8,5562,68.3,2292.7,23.7,-
2011,7614,5153.4,68.9,2366.9,24.8,-
2010,7790.2,5465.2,84.2,2219.1,21.7,-
2009,6474.8,4177.7,78.5,2193.3,25.3,-

In [41]:
local_food_production_annual_dataframe.describe()

Data Series,Total Value Of Local Production (Million Dollars),Seafood (Million Dollars),Vegetables (Million Dollars),Hen Shell Eggs (Million Dollars),Local Production Of Seafood (Tonnes),Local Production Of Vegetables (Tonnes),Local Production Of Hen Shell Eggs (Million Pieces),Local Production Of Aquarium Fish (Million Pieces),Local Production Of Aquatic Plants And Tissue Culture Plantlets (Million Plants),Local Production Of Orchids (Million Stalks),Local Production Of Ornamental Plants (Million Plants)
count,48,48,48,48,48,48,48,48,48,48,48
unique,6,6,5,6,10,48,10,7,4,18,20
top,na,na,na,na,na,16915,na,na,na,na,na
freq,43,43,43,43,39,1,39,41,45,22,23

In [38]:
solar_pv_installations_by_ura_planning_region_dataframe

,year,ura_planning_region,residential_status,num_solar_pv_inst,inst_cap_kwac,total_inst_cap_percent
0,2008,Central,Non-Residential,4,73.2,30.0
1,2008,Central,Residential,4,19.9,10.0
2,2008,East,Non-Residential,1,2.3,0.0
3,2008,East,Residential,1,6.6,0.0
4,2008,North-East,Non-Residential,10,65.3,20.0
...,...,...,...,...,...,...
135,2021,North-East,Residential,616,2990.3,0.9
136,2021,North,Non-Residential,720,52915.5,15.5
137,2021,North,Residential,57,524.7,0.2
138,2021,West,Non-Residential,1015,154485.1,45.2
139,2021,West,Residential,77,724.8,0.2

In [39]:
solar_pv_installations_by_ura_planning_region_dataframe.describe()

              year  num_solar_pv_inst  inst_cap_kwac  total_inst_cap_percent
count   140.000000         140.000000     140.000000              140.000000
mean   2014.500000         158.292857   10124.407857               10.002857
std       4.045603         213.314153   24071.582149               12.083701
min    2008.000000           0.000000       0.000000                0.000000
25%    2011.000000          13.500000     136.775000                0.500000
50%    2014.500000          50.000000     953.350000                4.250000
75%    2018.000000         254.000000    6329.925000               15.500000
max    2021.000000        1015.000000  154485.100000               47.300000