# How far are we from the goals defined in the Singapore Green Plan 2030?

## Executive Summary

asdasdasd

## Introduction

The Singapore Green Plan 2030 is an initiative that aims to encourage "whole-of-nation" movement and moving towards Singapore's national agenda on sustainable development.

Five ministries [Ministries of Sustainability and the Environment (MSE), Trade and Industry (MTI), Transport (MOT), National Development (MND), and Education(MOE)] are working together with the support by the whole of government to push the initiative with ambitious and concrete targets for a better sustainable future in Singapore.

## Aim of this analysis

This analysis attempts to find out if the target set in the Singapore Green Plan 2030 can be achieved by 2030. 

The focus of this analysis due to time constraint and knowledge constraint is narrow down to two key factors:
- Energy Reset
    - Green Energy
        - To use Linear Regression to predict if the current data for the amount of Solar Panel can meet the 1.5 Gigawatt-peak which can serve 2% of the projected electricity demand in 2025
        - 1.5 Gigawatt-peak of electricity generation from solar panel can meet the annual electricity needs for about 260000 households
- Resilient Future
    - Grow Local
        - Build the local production of agri-food industry that can have the capability and capacity to produce 30% of Singapore's nutritional needs locally and sustainably

## Bias in this analysis

The data obtained in this analysis are aggregated data and it is not raw data.

## Environment Setup, data Cleaning and Data Transformation

In [1]:
import pandas
import etl_processor
import bokeh
import seaborn

### Data Source

- Electricity Generation and Consumption
    - Description: This dataset is about the electricity generation and electricity consumption across different sectors and households from 1975 Jan to 2024 Mar
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M890841 
    - Data Source: SingStat Table Builder (Department of Statistics)
- Electricity Generation by Monthly data
    - Description: This dataset is about the electricity generation per month from 1975 Jan to 2024 Mar
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M890831 
    - Data Source: SingStat Table Builder (Department of Statistics)
- Peak System Demand from 2005 to Jul 2021
    - Description: This dataset is about the records of Peak System Demand in the unit of Megawatt for each month from 2005 to Jul 2021
    - Link: https://beta.data.gov.sg/datasets/d_926d3e304c0b41e56d4cbd3304acf105/view 
    - Data Source: data.gov.sg
- Solar PV Installations by URA Planning Region
    - Description: 
        - This dataset is about the Solar PV installation in different region within Singapore with data differentiating its residential status 
        - There are data columns about the number of solar pv installations, installed capacity in KWac and total installed capacity (percentage)    
    - Link: https://beta.data.gov.sg/datasets/d_cd4f91f7a1ebb2b7ceb1a70c0dbb706d/view
    - Data Source: data.gov.sg 
- Total Final Energy Consumption 2009 to 2019
    - Description: This dataset is about the energy consumption in the unit of Kilotonne of Oil equivalent across different energy type and sectors from 2009 to 2019
    - Link: https://beta.data.gov.sg/datasets/d_500440fba49cfc69f395e6dd1df967de/view 
    - Data Source: data.gov.sg
- Total Final Energy Consumption by Energy Type and Sector
    - Description: This dataset is about the energy consumption in the unit of Kilotonne of Oil equivalent across different energy type and sectors
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M891111 
    - Data Source: SingStat Table Builder (Department of Statistics Singapore)
- Licensed Local Food Farm
    - Description: This dataset is about the number of licensed food farms in Singapore with different food category
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M891471 
    - Data Source: SingStat Table Builder (Department of Statistics Singapore)
- Local Production Annual
    - Description: This dataset is about the value of Local food production annually with different categories of Food Type
    - Link: https://tablebuilder.singstat.gov.sg/table/TS/M890721 
    - Data Source: SingStat Table Builder (Department of Statistics Singapore)
- Value of Local Food Production in Singapore
    - Description: This dataset is about the value of Local Food Production in Singapore measured in million dollar for each year with different categories of food type
    - Link: https://beta.data.gov.sg/datasets/d_21ae7d83dd7ee33c8c932ba2564fd8aa/view
    - Data Source: data.gov.sg

### Data Preparation

#### Total Final Energy Consumption by Energy Type and Sector

In [3]:
total_final_energy_consumption_by_energy_type_and_sector_for_total_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_for_total()
total_final_energy_consumption_by_energy_type_and_sector_for_petroleum_products_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_for_petroleum_products()
total_final_energy_consumption_by_energy_type_and_sector_total_for_coal_and_peat_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_total_for_coal_and_peat()
total_final_energy_consumption_by_energy_type_and_sector_total_for_electricity_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_total_for_electricity()
total_final_energy_consumption_by_energy_type_and_sector_total_for_natural_gas_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_total_final_energy_consumption_by_energy_type_and_sector_total_for_natural_gas()

#### Electricity Generation by Monthly data

In [7]:
electricity_generation_by_month_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_electricity_generation_monthly_data()

#### Electricity Generation and Consumption

In [ ]:
electricity_generation_and_consumption_by_month_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_electricity_generation_and_consumption()

#### Total Final Energy Consumption by Energy Type and Sector from 2009 to 2019

In [12]:
total_final_energy_consumption_by_energy_type_and_sector_csv: pandas.DataFrame = etl_processor.csv_file_data_source.retrieve_data_for_total_final_energy_consumption_2009_to_2019()

#### Peak System Demand from 2005 to Jul 2021

In [9]:
peak_system_demand_dataframe: pandas.DataFrame = etl_processor.csv_file_data_source.retrieve_data_for_peak_system_demand_2005_to_jul_2021()

#### Solar PV Installations by URA Planning Region

In [10]:
solar_pv_installations_by_ura_planning_region_dataframe: pandas.DataFrame = etl_processor.csv_file_data_source.retrieve_data_for_solar_pv_installations_by_ura_planning_region()

#### Local Production Annual

In [ ]:
local_food_production_annual_dataframe: pandas.DataFrame = etl_processor.excel_file_data_source.retrieve_data_for_local_production_annual()

#### Licensed Local Food Farm

In [11]:
etl_processor.excel_file_data_source.retrieve_data_for_licensed_local_food_farm()

  Number Of Licensed Local Food Farms  254  257  260  237  221
0                   Sea-Based Seafood   98  109  110  109  110
1                  Land-Based Seafood   33   27   27   22   15
2                          Vegetables  115  111  113   96   85
3                      Hen Shell Eggs    3    3    3    3    3
4                              Others    5    7    7    7    8

In [3]:
local_food_production_annual_dataframe

,Total Value Of Local Production (Million Dollars),233,207,186,163,166,na,na.1,na.2,na.3,...,na.33,na.34,na.35,na.36,na.37,na.38,na.39,na.40,na.41,na.42
0,Seafood (Million Dollars),34,40,41,35,46,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1,Vegetables (Million Dollars),43,43,47,40,42,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
2,Hen Shell Eggs (Million Dollars),156,124,99,89,79,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
3,Local Production Of Seafood (Tonnes),4090,4440,5069,4567,5335,5192,5390,5597,6432,...,na,na,na,na,na,na,na,na,na,na
4,Local Production Of Vegetables (Tonnes),16915,19881,23506,22793,24296,24033,22620,22458,23039,...,28648,32767,35326,41388,42861,36839,37800,40665,36460,38339
5,Local Production Of Hen Shell Eggs (Million Pi...,685,609,644,616,528,488,521,452,421,...,na,na,na,na,na,na,na,na,na,na
6,Local Production Of Aquarium Fish (Million Pie...,na,na,62,69,85,78,73,77,77,...,na,na,na,na,na,na,na,na,na,na
7,Local Production Of Aquatic Plants And Tissue ...,na,na,17,15,14,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
8,Local Production Of Orchids (Million Stalks),na,na,na,na,na,na,5,6,8,...,na,na,na,na,na,na,na,na,na,na
9,Local Production Of Ornamental Plants (Million...,na,na,na,na,na,na,16,17,21,...,na,na,na,na,na,na,na,na,na,na

In [5]:
print("asdasd")

asdasd

In [7]:
print('asdasd')

asdasd

### Data Profiling

# deccribe the data 

# create the data dictionary for each dataset

### Data Transformation

In [ ]:
# merge the total final energy consumption from data.gov.sg and the other total final energy consumption from singstat table into one dataframe

#remove na data for electricity generation dataframe and electricity generation and consumption dataframe

## Exploratory Data Analysis

In [8]:
asdasd

NameError: name 'asdasd' is not defined

## Summary

asdasd

## Reference

- https://www.greenplan.gov.sg/targets/